@import "tailwindcss";


html {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    /* Smooth transition */
    background-color: #1a191d;
}

.elite-heading {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.6));
    /* Drop shadow effect */
}

.logo-container svg {
    padding-bottom: 10px;
}

.logo-container path {
    transition: 0.3s;
}

.cover-image{
    background-image: url('/img/imgHeroBG.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    /* Or whatever you need */
    z-index: -1;
    /* Ensures the cover image is behind the content */
    animation:scaling 15s linear infinite alternate;
    transform-origin: left top;

}

#logoImage {
    animation: rotateLogo 1s ease-in-out forwards;
    /* Adjust duration as needed */
    transform-origin: 50% 63.67%;
}

.elite-heading h1 {
    animation: fadein 2s ease-in-out forwards;
}

.line {
    animation: expand 2s ease-in-out forwards;
}

.navbar li a {
    position: relative;
}


.navbar li a:not(.button-circled)::after {
    visibility: hidden;
    content: '';
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    transition: 0.6s;
    height: 5px;
    background-color: #ff0e1f;
    transform: skewX(-25deg);
    opacity:0;
}

.navbar li a:not(.button-circled):hover::after {
    visibility: visible;
    opacity:1;

}

.button-circled:hover{
    box-shadow: 2px 2px 10px 0 #ff0e1f, -2px -2px 10px 0 #ff0e1f;
    cursor:url('/img/cursor.cur'), auto;
    
}

#menu li{
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
    padding-bottom:5px;
}
#menu li:nth-child(6){
    background-color: #ff0e1f;
    color:white;
    border-bottom:none;
}


/* Mobile menu */

#menu{
    transform:translateY(-200%);
    transition:0.5s;
}

#menu.slide{
    transform:translateX(0);
}

.hamburger{
    width:24px;
    height:24px;
    transition:all 0.25s;
    position:relative;
}

.hamburger-top, .hamburger-mid, .hamburger-bot{
    position:absolute;
    top:0;
    left:0;
    width:24px;
    height:2px;
    transition:all 0.25s;
    
}



.hamburger-mid{
    transform:translateY(7px);
}
.hamburger-bot{
    transform:translateY(14px);
}

.open{
    transform:rotate(90deg);
    transform:translateY(0px);
    
    
}

.open .hamburger-top{
    transform:rotate(45deg) translateY(6px) translate(6px);
 
}

.open .hamburger-mid{
    display:none;
}

.open .hamburger-bot{
    transform:rotate(-45deg) translateY(6px) translate(-6px);
}

.text-wrap span{
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.text-wrap{
    width:350px;
    max-height:170px;
    background-color:rgba(0, 0, 0, 0.7);
    transform:translateY(50px);
}

.grid-item:hover{
    cursor:url('/img/cursor.cur'), auto;
    .text-wrap{
        transform:translateY(1px);
    }
}

.vip-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay (adjust opacity) */
}

.ps5-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Dark overlay (adjust opacity) */
}

.grid-container-games .grid-item{
    transition:0.3s;
}

.grid-container-games .grid-item:hover{
    transform:translateY(10px);
}


.cene-card{
    transition:0.3s;
}

.cene-card:hover{

    transform:translateY(-10px);
    cursor:url('/img/cursor.cur'), auto;
}

.grid-item .btn-item,
.footer-wrap .btn-item,
.tournament-button a{
 
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}


.vip-wrap:hover,
.ps5-wrap:hover,
#tournament div{
    cursor:url('/img/cursor.cur'), auto;
}

.vip-wrap a:hover,
.ps5-wrap a:hover{
    box-shadow: 2px 2px 10px 0 #ff0e1f, -2px -2px 10px 0 #ff0e1f;
}

a{
    font-weight: bold;
}




@keyframes expand {
    0% {
        width: 0%;
    }

    100% {
        width: 180px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
        opacity:0;
    }

    100% {
        transform: rotate(122deg);
        opacity:1;
    }
}

@keyframes unRotateLogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-122deg);
    }
}

@keyframes scaling {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.2);


    }
}


@media (max-width:768px){
    .text-wrap{
        transform:none;
    }
    .grid-item:hover{
        .text-wrap{
            transform:none;
        }
    }
    .grid-container-games .grid-item-text h3{
        font-size:1rem;
    }
    .elfsight-app-bde051f3-f9c4-43da-a6f5-9af9426e9326{
        padding:20px;
    }
    
}
